@{
    ViewData["Title"] = "Inicio";
}

<style>
    * {
        box-sizing: border-box;
    }

    .content {
        margin-left: 6em;
        margin-right: auto;
        display: grid;
        width: 100%;
        padding: 1.5em;
        margin-top: 5.5em;
    }

    .links {
        margin-top: 15px;
    }

    body {
        background-color: #f5f5f5;
        color: white;
        font-family: 'Radio Canada', sans-serif;
    }

    .logo {
        font-size: 3em;
        color: #fbb03b;
    }

        .logo span {
            color: #007da4;
        }

    .table-wrapper {
        box-shadow: 0 0 20px rgb(126 197 250);
        margin-top: 1.2em;
        display: grid;
        grid-template-columns: 1fr;
    }

        .table-wrapper > * {
            padding: 2em;
        }

    .customer-table {
        background-color: #999999;
    }

    .customer-form {
        background-color: #4d4d4d;
    }

        .customer-form form .form-item {
            margin: 0;
            padding: 1em;
        }

        .customer-form form button,
        .customer-form form input {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;
        }

    .customer-table table,
    .customer-table table a i {
        color: white;
    }

    .customer-form form .button input {
        background-color: #FFC366;
        border-bottom: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .form-item {
        margin: 1em;
    }

    .customer-form form {
        display: grid;
        grid-template-columns: 1fr;
    }

        .customer-form form .button input:hover,
        .customer-form form .button input:hover {
            background-color: #fbb03b;
            transition: 0.3s;
            outline: 0;
        }

    .typed-out {
        overflow: hidden;
        border-right: .15em solid #007da4;
        white-space: nowrap;
        font-size: 1.6rem;
        width: 0;
        animation: typing 8s steps(120, end) 3s forwards, blink .8s infinite;
        max-width: fit-content;
        margin-bottom: .5rem;
    }

    @@keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    @@keyframes blink {
        from {
            border-color: transparent
        }

        to {
            border-color: #007da4;
        }
    }
    @@keyframes blinkRed {
        from {
            border-color: transparent
        }

        to {
            border-color: red
        }
    }

    .typeout-next {
        overflow: hidden;
        border-right: .15em solid red;
        white-space: nowrap;
        width: 0;
        animation: typing 8s steps(120, end) 7s forwards, blinkRed .8s infinite;
        max-width: fit-content;
        color: red;
        font-size: 1.2em;
    }
</style>

<div class="content">
    <h1 class="logo">Welcome to my final project with</h1>
    <div class="containerBox">
        <div class="typed-out logo"><span>Proem and Accenture.</span></div>

        <div class="typeout-next">
            Thanks for all
        </div>
    </div>
</div>